# Byte‐compiled Python
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

.DS_Store
*.png

# ignore certain folders
data/*/osort_mat*
data/*/raw
convnwb

# mat files
*.mat
*.nev
*.ns2
*.ns5
*.ns6
*.png
*.svg
.claude/worktrees/